@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #111111;
}
*{
    margin: 0 auto;
}
/* default-style */
.flex{
    display: flex;
}
.header{
    max-width: 1060px;
}
.habit-container{
    max-width: 1060px;
}
.primary-btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(228, 84, 32);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
}
.secondary-btn{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 1rem;
}
.text-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: .9rem;
}

/*default color */
.white{
    color: rgba(255, 255, 255, 1);
}
.orange{
    background-color: rgba(230, 83, 60, 1)
}
.white-two{
    color: rgba(255, 255, 255, 0.5);
}
/* nav-bar-style */

.container{
    justify-content: space-between;
    margin-top: 50px;
    gap: 463px;

}
.container h2{
    color: rgba(230, 83, 60, 1);
    font-weight: bolder;
    font-size: 2.25rem;
}
.menu-bar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 20px;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}
.home{
    width: 80px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;   
 }
 .bar{
    display: none;
 }
 /* banner-style */
 .banner-container{
     display: flex;
     align-items: center;
     max-width: 1440px;;
     margin-top: 90px;
     gap: 58px;
 }
 .banner-text-title{
     font-weight: bolder;
     font-size: 4.8rem;
 }
 .banner-text-description{
     margin: 25px auto;
     font-weight: 500px;
     font-size: 1.25rem;
     /* color: rgba(255, 255, 255, 0.5); */
 }
 .secondary-btn{
     margin-left: 10px;
 }
 .banner-image-container{
     position: relative;
 }
 .banner-image-container img{
     z-index:-1;
 }
 #free-videos-number{
     font-weight: 900;
     font-size: 3rem;
     color: white;
 }
 #free-title{
     color: rgba(224, 230, 236, 0.87);
 }
 .card{
     width: 190px;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 15px;
     padding: 10px;
     position: absolute;
     top: 130px;
     right: -80px;
     border: none;

 }
 .card-2{
     width: 190px;
     background-color: rgba(48, 48, 48, 0.54);
     border-radius: 15px;
     text-align: justify;
     align-items: center;
     padding: 15px;
     position: absolute;
     bottom: 60px;
     left: -100px;
     border: none;
     opacity: 80%;
     
 
 }
 #video-number{
     font-weight: 600;
     font-size: 2rem;
     color: white;
 }
 #video-tutorial{
     font-weight: 500;
     font-size: 1rem;
     color: rgb(189, 183, 183);
 }
 .video-tutorial div{
     text-align: justify;
     top: 200px;
   
 }
 .circle{
     width: 40px;
     height: 40px;
     border-radius: 50% 50%;
     background-color: rgb(228, 84, 32);
 }
 /* chage your habit style */
.habit-container{
    margin-top: 100px;
}
.habit-text-container{
    text-align: center;
    margin-top: 150px;
}
.habit-text-title{
    font-weight: 800;
    font-size: 3rem;
}
.habit-images-container{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.habit-image-container img{ 
   width: fit-content;
   height: fit-content;
   border-radius: 50%;
   margin-bottom: 15px;
}
 /* media responsive style */
/* Mobile-responsive */
@media screen and (max-width: 576px) {
    /* default style */
    .header,.bmi-chart{
        width: 90%;
        margin: 0 auto;
    }

    /* header part style */
  
    .menu-bar{
        display: none;
    }
    .bar{
        display: block;
        color: white;
    }
    
    .banner-text-title{
        font-size: 3rem;
    }
    .banner-container{
        flex-direction: column;
    }
    .btn{
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
    .card{
        right: -30px;
        top: 50px;
    }
    .card-2{
        left: 20px;
        bottom: 210px ;
        
    }
    .habit-text-container {
        text-align: center;
    }
    .habit-text-title{
        font-size: 2.5rem;

    }
    .habit-images-container {
        flex-direction: column;
    }
    /* change your habit mobile responsive */
    
    .habit-text-container {
        text-align: center;
    }
    .habit-text-title{
        font-size: 2.5rem;

    }
    .habit-images-container {
        flex-direction: column;
    }
    
}