@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #111111;
}
*{
    margin: 0 auto;
}
/* default-style */
.flex{
    display: flex;
}
.header{
    max-width: 1440px;
}
main{
    max-width: 1440px;
    margin: 20px auto;
}
.primary-btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(228, 84, 32);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border: none;
}
.secondary-btn{
    border: 2px solid white;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 1rem;
}
.text-description{
    color: rgb(131, 131, 131);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/*default color */
.white{
    color: white;
}
.orange{
    background-color: rgb(228, 84, 32);
}
/* nav-bar-style */

.container{
    justify-content: space-between;
    margin-top: 50px;

}
.container h2{
    color: orangered;
    font-weight: bolder;
    font-size: 2rem;
}
.menu-bar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 20px;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}
/* .menu-bar p{
    justify-content: space-evenly;
    margin-left: 20px;
   
   
} */
.home{
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
  
 
 
  
    
 }
 /* banner-style */
 .banner-container{
     display: flex;
     align-items: center;
     max-width: 1200px;;
     margin-top: 50px;
 }
 .banner-text-title{
     font-weight: bolder;
     font-size: 4.5rem;
 }
 .banner-text-description{
     margin: 25px auto;
     font-weight: 500px;
     font-size: 1.25rem;
     color: rgb(168, 159, 159);
 }
 .secondary-btn{
     margin-left: 10px;
 }
 .banner-image-container{
     position: relative;
 }
 .banner-image-container img{
     z-index:-1;
 }
 #free-videos-number{
     font-weight: 900;
     font-size: 3rem;
     color: white;
 }
 #free-title{
     color: rgba(224, 230, 236, 0.87);
 }
 .card{
     width: 190px;
     background-color: rgb(85, 80, 80);
     border-radius: 15px;
     padding: 10px;
     position: absolute;
     top: 130px;
     right: -80px;  
 }
 .card-2{
     width: 190px;
     background-color: #41352F;
     border-radius: 15px;
     text-align: justify;
     align-items: center;
     padding: 15px;
     position: absolute;
     bottom: 60px;
     left: -100px;
     border: none;
     opacity: 80%;
     
 
 }
 #video-number{
     font-weight: 600;
     font-size: 2rem;
     color: white;
 }
 #video-tutorial{
     font-weight: 500;
     font-size: 1rem;
     color: rgb(189, 183, 183);
 }
 .video-tutorial div{
     text-align: justify;
     top: 200px;
   
 }
 .circle{
     width: 40px;
     height: 40px;
     border-radius: 50% 50%;
     background-color: rgb(228, 84, 32);
 }